<ion-header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <ion-menu-button autoHide="true"></ion-menu-button>
      <span class="text-spacer">App name</span>
      <span class="example-spacer"></span>
      <mat-icon class="icon-left" aria-hidden="false" matBadge="{{myCart.length}}"  matBadgePosition="after" matBadgeColor="warn" (click)="UpdateCart()">shopping_cart</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
    
    <div class="row">
      <div class="col-4 mt-4">
            <button class="btn btn-small grey lighten-3">Catagory</button>
      </div>
      <div class="col-8 mt-4">
            <input class="cst-form-control" placeholder="&#xF002;  Search" disabled style="font-family:FontAwesome;width: 100%;">
      </div>
    </div>
          
       
    
    </mat-toolbar-row>
  </mat-toolbar>
</ion-header>
<ion-content fullscreen>
  <!-- SLIDER -->
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
              <img src="../../assets/images/sliders/1.jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="../../assets/images/sliders/2.jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="../../assets/images/sliders/3.jpg"/>
            </ion-slide>
  </ion-slides>
  <!-- SLIDER -->

  <ion-item-divider class="ion-devider">
    <ion-label (click)="OpenOnSeparateSection('FruitsList','FRUITS')">
     FRUITS
    </ion-label>
  </ion-item-divider>

  <!-- FRUITS SLIDER -->
  <ion-slides [options]="slideOptGrossary">
    <ion-slide *ngFor="let fruits of FruitsList; let i = index">
      <div>
        <ion-card>
          <ion-card-header (click)="ProductDetails(i,'FruitsList')">
            <ion-card-title>
              {{ fruits.name }} <br> <ion-text color="danger">{{fruits.price | currency:"₹"}}</ion-text>
            </ion-card-title>
            <ion-card-content>
              <ion-img [src]="fruits.image"></ion-img>
            </ion-card-content>
          </ion-card-header>
          <ion-footer>
              <mat-toolbar color="primary" *ngIf="(!fruits.qty || fruits.qty == 0 || ExitInCart(fruits))">
                
                  <ion-tabs>
                      <ion-tab-bar slot="bottom" class="themebg">
                        <ion-tab-button expand="full" (click)="addToCart(fruits)" style="background-color: transparent;">
                          <ion-title>Add to Cart</ion-title>
                        </ion-tab-button>
                    
                      </ion-tab-bar>
                    </ion-tabs>
              </mat-toolbar>

              <mat-toolbar color="primary" *ngIf="(fruits.qty && fruits.qty > 0 || ExitInCart(fruits))">
                  <ion-tabs>
                      <ion-tab-bar slot="bottom"  class="themebg">
                        <ion-tab-button (click)="updateitemQty(fruits,'dec')" style="background-color: transparent;">
                         
                              <i class="material-icons">
                                  exposure_neg_1
                                  </i>
                          
                        </ion-tab-button>
                    
                        <ion-tab-button>
                          <ion-label>{{fruits.qty}}</ion-label>
                        </ion-tab-button>
                    
                        <ion-tab-button (click)="updateitemQty(fruits,'inc')" style="background-color: transparent;">
                        
                              <i class="material-icons">
                                  exposure_plus_1
                                  </i>
                        
                        </ion-tab-button>
                      </ion-tab-bar>
                    </ion-tabs>
              </mat-toolbar>
            </ion-footer>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
<!-- FRUITS SLIDER -->

  <ion-item-divider class="ion-devider">
    <ion-label (click)="OpenOnSeparateSection('vegitablesList','VEGITABLES')">
     VEGITABLES
    </ion-label>
  </ion-item-divider>

  <!-- FRUITS SLIDER -->
  <ion-slides [options]="slideOptGrossary">
    <ion-slide *ngFor="let vegitables of vegitablesList; let i = index">
      <div>
        <ion-card>
          <ion-card-header (click)="ProductDetails(i,'vegitablesList')">
            <ion-card-title>
              {{ vegitables.name }} <br> <ion-text color="danger">{{vegitables.price | currency:"₹"}}</ion-text>
            </ion-card-title>
            <ion-card-content>
              <ion-img [src]="vegitables.image"></ion-img>
            </ion-card-content>
          </ion-card-header>
          <ion-footer>
              <ion-toolbar *ngIf="(!vegitables.qty || vegitables.qty == 0 || ExitInCart(vegitables))">
                
                  <ion-tabs>
                      <ion-tab-bar slot="bottom"  class="themebg">
                        <ion-tab-button expand="full" (click)="addToCart(vegitables)" style="background-color: transparent;">
                          <ion-title>Add to Cart</ion-title>
                        </ion-tab-button>
                    
                      </ion-tab-bar>
                    </ion-tabs>
              </ion-toolbar>

              <ion-toolbar *ngIf="(vegitables.qty && vegitables.qty > 0 || ExitInCart(vegitables))">
                  <ion-tabs>
                      <ion-tab-bar slot="bottom" class="themebg">
                        <ion-tab-button  (click)="updateitemQty(vegitables,'dec')" style="background-color: transparent;">
                         
                              <i class="material-icons">
                                  exposure_neg_1
                                  </i>
                          
                        </ion-tab-button>
                    
                        <ion-tab-button>
                          <ion-label>{{vegitables.qty}}</ion-label>
                        </ion-tab-button>
                    
                        <ion-tab-button  (click)="updateitemQty(vegitables,'inc')" style="background-color: transparent;">
                        
                              <i class="material-icons">
                                  exposure_plus_1
                                  </i>
                        
                        </ion-tab-button>
                      </ion-tab-bar>
                    </ion-tabs>
              </ion-toolbar>
            </ion-footer>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
<!-- FRUITS SLIDER -->



  
</ion-content>
